
* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    font-style: normal;
    font-weight: bold;
    font-size: 1.3rem;    
}

a {
    text-decoration: none;
}

div {
    margin: 0px;
}

ul {
    list-style: none;
    width: 100%;
}

li {
    display: inline-block;
}

h1 {
    color: #4DD101;
    margin: 100px auto;
    text-align: center;
    letter-spacing: 0.335em;
}

hr {
    border: none;
    width: 80%;
    margin: 50px auto;
    border: 4px solid #4DD101;
}

.top-container {
    position: relative;
    width: 100%;
    height: 116px;
    background-color: #D4F5DF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-size: 24px;
    line-height: 28px;  
    letter-spacing: 0.335rem;
}

.mobile-nav-bar {
    display: none;
}

.mobile-nav-icon {
    float: left;
    color: #4DD101;
    display: none;
    font-weight: bold;
}

#close {
    display: none;
}


.mobile-nav-notification {
    display: none;
}

.top-container a {
    color: #4DD101;
    position: relative;
}

.top-container a:hover {
    color: white;
}

.nav-bar-left {
    float: left;
}

.nav-bar-right {
    float: right;
}

.nav-bar-left li {
    margin-left: 150px;
    margin-top: 50px;
}

.nav-bar-right li {
    margin-right: 150px;
    margin-top: 50px;
}

.thekolaya-div {
    width: 260px; 
    height: 108px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.thekolaya {
    width: 100%; 
    height: 100%;
}

.middle-container {
    position: relative;
    margin: 100px 0px;
}

.img-btn-container {
    position: relative;
    margin: 100px 100px;
}

.top {
    width: 100%;
    margin: 0px;
}

.bottom {
    width: 100%;
    margin: 0px;
}

#img-btn-bottom {
    margin-top: 90px;
}

.middle-container img {
    width: 100%;
    height: 100%;
    border: 2px solid #000000;

    opacity: 0.7;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.middle-container img:hover {
    opacity: 1;
    transform: scale(1.03);
}

.mobile-img-btn-container {
    display: none;
}

.container {
    position: relative;
    background-color: black;
    display: inline-block;
    width: 47%;
    height: auto;
    overflow: hidden;
}

.right {
    float: right;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 350px;
    height: 170px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 45px;
}

.btn {
    width: 300px;
    height: 120px;
    background: #8AF2AD;
    border: 1px solid #000000;
    color: white;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;

    font-size: 25px;
    line-height: 25px;
    font-weight: bold;  
}

.btn:hover {
    background-color: white;
    color: #4DD101;
    transition: background-color 0.6s;
}

.btn-available {
    letter-spacing: 0.3em;
    margin-top: 0px;
}

.btn-tea {
    letter-spacing: 1em;
}

.btn-confirm {
    letter-spacing: 0.45em;
}

.btn-emergency {
    letter-spacing: 0.35em;
}

#hr-bottom {
    margin-bottom: 100px;
}

.bottom-container {
    width: 100%;
    height: 160px;

    background-color: #367413;

    font-size: 15px;
    line-height: 15px;  
    letter-spacing: 0.335rem;
}

.bottom-container ul {
    color: white;
}

.bottom-container li {
    margin: 80px 0px 0px 10%;
}

.bottom-container a {
    color: white;
}

.bottom-container a:hover {
    color: black;
}

.bottom-container i {
    margin-left: 75px;
    font-size: 25px;
    line-height: 25px;
}
